@model MusicApp.Domain.BookApp.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="@Model.Image" alt="@Model.Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <dl class="row">
                    <dt class="col-sm-3">Price:</dt>
                    <dd class="col-sm-9">@Model.Price</dd>
                    <dt class="col-sm-3">Author:</dt>
                    <dd class="col-sm-9">@Model.Author.FirstName</dd>
                    <dt class="col-sm-3">Publisher:</dt>
                    <dd class="col-sm-9">@Model.Publisher.Name</dd>
                </dl>
                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>